<!DOCTYPE html>
<html>

<head>
    <title>Influencer Kitty</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">


</head>

<body>
    <%- include('header') -%>

        <main>
            <div class="mainImageClass center">
                <img src=https://placehold.co/800x600>
                <h1>This is a Heading</h1>
                <p>This is a paragraph.</p>
            </div>

            <div class="newsClass center">
                <img src=https://placehold.co/300x300>
                <img src=https://placehold.co/300x300>
                <img src=https://placehold.co/300x300>
                <img src=https://placehold.co/300x300>
            </div>
        </main>

        <%- include('footer') -%>

</body>

</html>