<!DOCTYPE html>
<html>
  <head>
    <title>Influencer Kitty</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
  </head>

  <body>
    <%- include('header') -%>

    <h1>HELLO <%= username %></h1>

    <%- include('footer') -%>
  </body>
</html>
