* {
    margin: 0px;
    padding: 0px;
}

#logsign {
    display: none;
}

img {
    border-radius: 40px;
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(25deg, aqua, violet);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
}


ul {
    display: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 50px;
}

main {
    display: grid;
    grid-template-rows: 3fr 1fr;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainImageClass {
    display: grid;
}

.newsClass {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.accountButtons {
    display: none;
    position: absolute;
    right: 0px;
}

.accountIcon:hover .accountButtons {
    display: block;
}

#menu-box {
    display: none;
    position: absolute;
    left: 0px;
}

.menuClass:hover #menu-box {
    display: block;
}

.button-class {
    background-color: #6f4caf;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10x;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 0px 40px 0px;
    margin: 10px;
    width: 100%;
    gap: 5px;
}

.container input, .container button{
    border-radius: 8px;
    border: 0px;
    padding:4px;
}